<header>
  <h1>Header Title</h1>
</header>

<!-- Login form -->
<form action ="/login" method="POST">
  <label for="username">Username:</label>
  <input id="username" name="username" placeholder="username" type="text">
  <input type="submit" value="Submit">
</form>