<header>
  <h1><a href="/urls" title="TinyApp">TinyApp</a></h1>
  <p>Make long URLs short</p>
</header>

<!-- If user is logged in, display a logout button-->
<% if (user !== undefined) { %>
  <p>Logged in as <strong><%= user.email %></strong>.</p>
  <!-- Logout form -->
  <form action="/user/logout" method="POST">
    <input type="submit" value="Logout">
  </form>
<!-- If user is not logged in, display the login form -->
<% } else{ %>
  <a href="/user/register">Register</a> or <a href="/user/login">Login</a>
<% } %>

<hr>
