<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp: Register a New Account</title>
  </head>
  <body>
    <%- include('partials/_header.ejs') %>
    <h2>Register a New Account</h2>
    <form action="/user/register" method="POST">
      <label for="email">Email:</label>
      <input id="email" type="email" name="email" placeholder="user@domain.com">
      <label for="password">Password:</label>
      <input id="password" type="password" name="password" placeholder="********">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
