<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp: Shorten a URL</title>
  </head>
  <body>
    <% include partials/_header %>
    <form action="/urls" method="POST">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>