<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp: Shorten a New URL</title>
  </head>
  <body>
    <%- include('partials/_header.ejs') %>
    <h2>Shorten a New URL</h2>
    <form action="/urls" method="POST">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://">
      <input id="userID" type="hidden" name="userID" value="<%= user.id %>">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
