<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp: URLs Index</title>
  </head>
  <body>
    <%- include('partials/_header.ejs') %>
    <h2>Invalid Shortened URL</h2>
    <p>The short link you tried to visit is invalid.</p>
    <p>The good news is you can make your own! <a href="/user/register">Register</a> or <a href="/user/login">login</a> and get started.</p>
  </body>
</html>
